.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  //grid-auto-rows: min-content;
  //padding: 20px;
  background: #FAFAFA;
  border-radius: 20px;

  &__inner {
    padding: 20px;
  }

  &__header {
    grid-column: span 2;
    padding: 20px;


    .icon {
      vertical-align: middle;
    }
  }

  &__title {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;

    vertical-align: middle;
    margin-left: 12px;
  }
  
  &__date {
    text-align: right;
  }

  &__text {
    grid-column: span 2;
  }

  &__img {
    grid-column: span 2;
  }


  // Вариации карточек - размеры
  &_size_l {
    grid-column: span 4;
    grid-row: span 6;

    .card__type,
    .card__date {
      margin-top: 16px;
    }

    .card__text {
      margin-top: 24px;
      font-size: 24px;
    }
  }

  &_size_m {
    grid-column: span 3;
    grid-row: span 2;
  }

  &_size_s {
    grid-column: span 2;
    grid-row: span 2;

    .card__type {
      grid-column: span 2;
    }

    .card__date {
      grid-column: span 2;
      text-align: left;
    }
  }

  // Вариации карточек - типы
  &_type_warning {
    overflow: hidden;
    background-color: #DB5341;

    .card__header {
      color: #FFF;
    }

    .card__text {
      border-top-left-radius: 20px;
      background-color: #FAFAFA;
      padding: 20px;
      border-top-right-radius: 20px;
    }
  }
}