.header {
  display: block;
  height: 92px;
  padding: 30px 0 34px;
  border-bottom: 1px solid #F0F0F0;

  &__inner {
    @include clearfix;
    padding: 0 42px;
  }

  &__menu {
    float: left;
    margin-left: 18px;
    margin-top: 5px;

    &-item {
      opacity: .6;
      &.active {
        opacity: 1;
      }

      & + & {
        margin-left: 28px;
      }
    }

    &-link {
      font-size: 16px;
      font-weight: 700;
      color: $text-color-base;
    }
  }
}

.logo {
  display: block;
  float: left;
  width: 113px;
  height: 27px;
  background: url("../img/logo.svg") no-repeat center;
}


.menu {
  //display: none;
  //margin-left: 50px;
  //margin-top: 8px;
  //float: left;
  //font-size: 16px;
  //
  //@media screen and (min-width: 600px) {
  //  display: block;
  //}
  //
  //&__item {
  //  font-weight: 700;
  //  opacity: .6;
  //  & + & {
  //    margin-left: 26px;
  //  }
  //
  //  &.active {
  //    opacity: 1;
  //  }
  //}
  //
  //&__link {
  //  color: $text-color-base;
  //}
}


.hamburger {
  //float: right;
  //margin-top: 7px;
  //&:hover {
  //  cursor: pointer;
  //}
  //
  //&__icon {
  //  width: 16px;
  //  height: 14px;
  //  //background: url("../img/hamburger.svg") no-repeat center;
  //}
  //
  //@media screen and (min-width: 600px) {
  //  display: none;
  //}
}