* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color-base;
  line-height: 1.2;
}

img {
  width: 100%;
  height: auto;
}
.wrapper {
  display: grid;
  position: relative;
  min-width: 320px;
  min-height: 100%;
  overflow: hidden;
}