.videos {
  position: relative;
  height: 100%;
  //width: 410px;
  //display: grid;
  //grid-template-columns: 200px 200px;
  //grid-template-rows: 200px 200px;
}

.videotiles {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
  grid-gap: 5px;
  height: 100%;
  margin-top: 30px;

  @media screen and (max-width: 768px) {
    grid-template-rows: 150px 150px;
  }
}

.videotile {
  overflow: hidden;
}

.card-video {
  transition: .2s all;
  z-index: 2;
  &.active {
    position: absolute;
    background-color: #fff;
  }
}

.video {
  width: 100%;
  height: 100%;
  //object-fit: cover;
  //object-position: center;
  z-index: 5;
  //transition: .2s all;
}











//
///* Карточка видео */
.card-video {
  //  width: 100%;
  //  height: 100%;
  //  //position: relative;
  //  //display: inline-block;
  //  //width: 200px;
  //  //height: 200px;
  //  //transition: .3s all;
  //  //overflow: hidden;
  //  //z-index: 2;
  //
  //  //transform: scale(0.1);
  //

  &__controls {
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;

    &-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-bottom {
      margin-top: auto;
      margin-bottom: 5px;
    }
  }





  &__btn {
    visibility: hidden;
    margin-right: 10px;
  }

  &__brightness {
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 10px;
  }

  &__contrast {
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 10px;
  }

  &.active {
    .card-video {

      &__brightness,
      &__contrast,
      &__btn,
      &__controls {
        visibility: visible;
      }
    }
  }
  //
  //  &__input {
  //    width: 50px;
  //  }
  //
  //
  //  // --------------------
  //  // Вариация
  //  &_size_full {
  //    //position: absolute;
  //    //left: 0;
  //    //right: 0;
  //    //top: 0;
  //    //bottom: 0;
  //    //margin: auto;
  //    //width: auto;
  //    //width: 100%;
  //    //height: 100%;
  //    //width: auto;
  //    //height: auto;
  //    z-index: 10;
  //    background-color: #fff;
  //
  //    .video {
  //      width: 100%;
  //      height: 100%;
  //      transform: scale(1);
  //      object-fit: contain;
  //    }
  //
  //    .card-video__btn-cameras,
  //    .card-video__brightness,
  //    .card-video__contrast {
  //      display: block;
  //      z-index: 10;
  //    }
  //  }
  //}
  //
  //.video {
  //  //display: none;
  //  //width: 200px;
  //  //height: 200px;
  //  width: 100%;
  //  height: 100%;
  //  object-fit: cover;
  //  object-position: center;
  //  transition: .3s all;
  //}

  //.video-canvas {
  //  display: none;
  //  width: 100%;
  //  height: 100%;
}