@import "normalize";

@import "mixins/clearfix";
@import "mixins/lists";
@import "mixins/media";

@import "utility-classes";

@import "core/variables";
@import "core/base";
@import "core/grid";
@import "core/typograpy";
@import "core/btn";

@import "components/header";
@import "components/footer";
@import "components/card";
@import "components/icon";
@import "components/player";
@import "components/side-menu";

@import "page";